# addition(+)

In [2]:
print(3 + 2)

5

# subtraction(-)

In [3]:
print(3 - 2)

1

# multiplication(*)

In [4]:
print(3 * 2)

6

# division(/)

In [5]:
print(3 / 2)

1.5

# exponential(**)

In [1]:
print(3 ** 2)

9

#  modules(%)

In [2]:
print(3 % 2)

1

# Floor division operator

In [3]:
print(3 // 2)

1

#  Check Data Types

In [4]:
print(type(10))

<class 'int'>

In [5]:
print(type(3.14))

<class 'float'>

In [6]:
print(type(1 + 3j))

<class 'complex'>

In [7]:
print(type('Asabeneh'))

<class 'str'>

In [9]:
print(type([1, 2, 3]))

<class 'list'>

In [10]:
print(type({'name':'Manish'}))

<class 'dict'>

In [11]:
print(type({9.8, 3.14, 2.7}))

<class 'set'>

In [1]:
print(type((9.8, 3.14, 2.7)))

<class 'tuple'>

In [2]:
print(type(3 ==3))

<class 'bool'>

In [3]:
print(type(3 >= 3))

<class 'bool'>

# Arithmeic Operations in Python

# Integers

In [5]:
print('Addition:', 1 + 2)

Addition: 3

In [6]:
print('Subtraction:', 2 - 1)

Subtraction: 1

In [7]:
print('Multiplication:', 2 * 3)

Multiplication: 6

In [8]:
print('Division:', 4 / 2)

Division: 2.0

In [9]:
print('Division:', 6 / 2)

Division: 3.0

In [10]:
print('Division:', 7 / 2)

Division: 3.5

In [11]:
print('Division without the remainder:', 7 // 2)

Division without the remainder: 3

In [12]:
print('Modules:', 3 % 2)

Modules: 1

In [13]:
print('Division without the remainder:', 7 // 3)

Division without the remainder: 2

In [14]:
print('Expoential:', 3 ** 2)

Expoential: 9

# Floating Numbers

In [16]:
print('Floating Number,PI', 3.14)

Floating Number,PI 3.14

In [17]:
print('Floating Number,gravity', 9.81)

Floating Number,gravity 9.81

# Complex Numbers

In [18]:
print('complex number:', 1 + 1j)

complex number: (1+1j)

In [20]:
print('Multiplying complex number:',(1 + 1j) * (1 - 1j))

Multiplying complex number: (2+0j)

# Arithmetic operations and assigning the result to a variable

In [29]:
a = 3
b = 2
total = a + b
diff = a - b
product = a * b
division = a / b
remainder = a % b
floor_division = a // b
expoential = a ** b
print('a + b = ', total)
print('a - b = ', diff)
print('a * b = ', product)
print('a / b = ', division)
print('a % b = ', remainder)
print('a // b = ', floor_division)
print('a ** b = ', expoential)

a + b =  5
a - b =  1
a * b =  6
a / b =  1.5
a % b =  1
a // b =  1
a ** b =  9

# Declaring values and organizing them together

In [30]:
num_one = 3
num_two = 4
total = num_one + num_two
diff = num_two -  num_one
product = num_one * num_two
div = num_two / num_one
remainder = num_two % num_one

print('total:',total)
print('diffrence:',diff)
print('product:', product)
print('division:', div)
print('remainder:',remainder)

total: 7
diffrence: 1
product: 12
division: 1.3333333333333333
remainder: 1

# Calculating Area of Circle

In [31]:
radius = 10
area_of_circle = 3.14 * radius ** 2
print('area of circle:',area_of_circle)

area of circle: 314.0

# Calculating Area Of Rectangle

In [32]:
length = 10
width = 20
area_of_rectangle = length * width
print('area of rectangle:', area_of_rectangle)

area of rectangle: 200

# Calculating a weight of an object

In [33]:
mass = 75 
gravity = 9.81
weight = mass * gravity
print(weight,'N')

735.75 N

In [35]:
print(3 > 2)
print(3 >= 2)
print(3 < 2)
print(2 < 3)
print(2 <= 3)
print(3 == 2)
print(3 != 2)
print(len('mango') == len('avocodo'))
print(len('mango') != len('avocodo'))
print(len('mango') < len('avocodo'))
print(len('milk') != len('meat'))
print(len('milk') == len('meat'))
print(len('tomato') == len('potato'))
print(len('python') > len('dragon'))

True
True
False
True
True
False
True
False
True
True
False
True
True
False

# Boolean Comparision

In [36]:
print('True == True:', True == True)
print('True == False:', True == False)
print('Flase == False:', False == False)
print(' True and True:', True and True)
print(' True or True:', True or True)

True == True: True
True == False: False
Flase == False: True
 True and True: True
 True or True: True

#  Another way comparision

In [43]:
print('1 is 1', 1 is 1)
print('1 is not 2', 1 is not 2)
print('A in Asabenah', 'A' in 'Asabenah')
print('B in Asabenah', 'B' in 'Asabenah')
print('Coding' in 'Coding for all')
print('a in an:', 'a' in 'an')
print('4 is 2 ** 2:', 4 is 2 ** 2)

1 is 1 True
1 is not 2 True
A in Asabenah True
B in Asabenah False
True
a in an: True
4 is 2 ** 2: True

In [44]:
print(3 > 2 and 4 > 3)
print(3 > 2 and 4 < 3)
print(3 < 2 and 4 < 3)
print(3 > 2 or 4 > 3)
print(3 > 2 or 4 < 3)
print(3 < 2 or 4 < 3)
print(not 3 > 2)
print(not True)
print(not False)
print(not not True)
print(not not False)

True
False
False
True
True
False
False
False
True
True
False

#  Variables in Python

In [72]:
first_name = 'MANISH' 
last_name = 'CHUTAKE'
country = 'NAGPUR'
city = 'MAHARASHTRA'
age = 40087
is_married = True
skills = ['HTML', 'CSS', 'JS', 'REACT', 'PYTHON']
personal_info = {
    'firstname':'Asabenah',
    'Lastname':'Yetayeh',
    'Country': 'Finland',
'city':'Helanski'}

print('first name:', first_name)
print('first name length:', len(first_name))
print('last name: ', last_name)
print('last name length: ', len(last_name))
print('country: ', country)
print('city: ', city)
print('age: ', age)
print('Married: ', is_married)
print('skills: ', skills)
print('personal information: ', personal_info)

first name: MANISH
first name length: 6
last name:  CHUTAKE
last name length:  7
country:  NAGPUR
city:  MAHARASHTRA
age:  40087
Married:  True
skills:  ['HTML', 'CSS', 'JS', 'REACT', 'PYTHON']
personal information:  {'firstname': 'Asabenah', 'Lastname': 'Yetayeh', 'Country': 'Finland', 'city': 'Helanski'}


# Declaring multiple variables in one line

In [73]:
first_name, last_name, country, age, is_married = 'Asabeneh', 'Yetayeh', 'Helsink', 250, True

print(first_name, last_name, country, age, is_married)
print('First name:', first_name)
print('Last name: ', last_name)
print('Country: ', country)
print('Age: ', age)
print('Married: ', is_married)

Asabeneh Yetayeh Helsink 250 True
First name: Asabeneh
Last name:  Yetayeh
Country:  Helsink
Age:  250
Married:  True