In [1]:
myset = {1,2,3,4,5}
myset

{1, 2, 3, 4, 5}

In [2]:
len(myset)

5

In [3]:
my_set = {1,1,2,2,3,4,5,5}
my_set

{1, 2, 3, 4, 5}

In [4]:
myset1 = {1.79,2.08,3.99,4.56,5.45}
myset1

{1.79, 2.08, 3.99, 4.56, 5.45}

In [5]:
myset2 = {'Asif', 'John', 'Tyrion'}
myset2

{'Asif', 'John', 'Tyrion'}

In [6]:
myset3 = {10,20, "Hola", [11, 22, 33]}
myset3

TypeError: unhashable type: 'list'

In [7]:
myset4 = set()
print(type(myset4))

<class 'set'>

In [8]:
my_set1 = set(('one', 'Two', 'Three', 'four'))
my_set1

{'Three', 'Two', 'four', 'one'}

# Loop through set

In [13]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
for i in myset:
    print(i)

seven
one
six
two
four
three
five
eight

In [14]:
for i in enumerate(myset):
    print(i)

(0, 'seven')
(1, 'one')
(2, 'six')
(3, 'two')
(4, 'four')
(5, 'three')
(6, 'five')
(7, 'eight')

# Set Membership

In [15]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [16]:
'one' in myset

True

In [17]:
'ten' in myset

False

In [18]:
if 'three' in myset:
    print('three is present in the set')
else:
    print('three is not present in the set')

three is present in the set

In [19]:
if 'eleven' in myset:
    print('eleven is present in the set')
else:
    print('eleven is not present in the set')

eleven is not present in the set

# Add & Remove Items

In [21]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [22]:
myset.add('nine')
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [23]:
myset.update(['ten','eleven','twelve'])
myset

{'eight',
 'eleven',
 'five',
 'four',
 'nine',
 'one',
 'seven',
 'six',
 'ten',
 'three',
 'twelve',
 'two'}

In [24]:
myset.remove('nine')
myset

{'eight',
 'eleven',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'ten',
 'three',
 'twelve',
 'two'}

In [25]:
myset.discard('ten')
myset

{'eight',
 'eleven',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'twelve',
 'two'}

In [26]:
myset.clear()
myset

set()

In [27]:
del myset
myset

NameError: name 'myset' is not defined

# Copy set

In [29]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [30]:
myset1 = myset
myset1

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [31]:
id(myset), id(myset1)

(5193201952, 5193201952)

In [32]:
my_set = myset.copy()
my_set

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [33]:
id(my_set)

5193202400

In [34]:
myset.add('nine')
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [35]:
myset1

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [36]:
my_set

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

# Set Operation

# Union

In [38]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}
A | B

{1, 2, 3, 4, 5, 6, 7, 8}

In [39]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [40]:
A.union(B, C)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [41]:
A.update(B, C)
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# Intersection

In [43]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
A & B

{4, 5}

In [44]:
A.intersection(B)

{4, 5}

In [45]:
A.intersection_update(B)
A

{4, 5}

# Diffrence

In [46]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
A - B

{1, 2, 3}

In [48]:
A.difference(B)

{1, 2, 3}

In [49]:
B - A

{6, 7, 8}

In [50]:
B.difference_update(A)
B

{6, 7, 8}

# Symmetric Difference

In [53]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
A ^ B

{1, 2, 3, 6, 7, 8}

In [54]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [55]:
A.symmetric_difference_update(B)
A

{1, 2, 3, 6, 7, 8}

# Subset, Superset & Disjoint

In [59]:
A = {1,2,3,4,5,6,7,8,9}
B = {3,4,5,6,7,8}
c = {10,20,30,40}
B.issubset(A)

True

In [60]:
A.issuperset(B)

True

In [61]:
C.isdisjoint(A)

False

In [62]:
B.isdisjoint(A)

False

# Other Bulletin Function

In [63]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [64]:
sum(A)

45

In [65]:
max(A)

9

In [66]:
min(A)

1

In [67]:
len(A)

9

In [68]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [69]:
D = sorted(A,reverse = True)
D

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [70]:
sorted(D)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Dictionary

In [71]:
mydict = dict()
mydict

{}

In [73]:
mydict = {}
mydict

{}

In [74]:
mydict = {'A':'one', 'B':'two', 'c':'three'}
mydict

{'A': 'one', 'B': 'two', 'c': 'three'}

In [75]:
mydict = {1 : 'one', 'A':'two', 3 : 'three'}
mydict

{1: 'one', 'A': 'two', 3: 'three'}

In [76]:
mydict.keys()

dict_keys([1, 'A', 3])

In [77]:
mydict.values()

dict_values(['one', 'two', 'three'])

In [79]:
mydict.items()

dict_items([(1, 'one'), ('A', 'two'), (3, 'three')])

In [80]:
mydict = {1:'one', 2:'two', 'A':{'Name': 'asif', 'Age': 20}, 'B':('Bat', 'cat', 'hat')}
mydict

{1: 'one',
 2: 'two',
 'A': {'Name': 'asif', 'Age': 20},
 'B': ('Bat', 'cat', 'hat')}

In [81]:
mydict = {1:'one', 2:'two', 'A':{'Name': 'asif','Age': 20},'B':('Bat', 'cat','hat')}
mydict

{1: 'one',
 2: 'two',
 'A': {'Name': 'asif', 'Age': 20},
 'B': ('Bat', 'cat', 'hat')}

In [82]:
keys = {'a', 'b', 'c', 'd'}
mydict3 = dict.fromkeys(keys)
mydict3

{'a': None, 'b': None, 'd': None, 'c': None}

In [83]:
keys = {'a', 'b', 'c', 'd'}
value = 10
mydict3 = dict.fromkeys(keys, value)
mydict3

{'a': 10, 'b': 10, 'd': 10, 'c': 10}

In [84]:
keys = {'a', 'b', 'c', 'd'}
value = [10,20,30]
mydict3 = dict.fromkeys(keys, value)
mydict3

{'a': [10, 20, 30], 'b': [10, 20, 30], 'd': [10, 20, 30], 'c': [10, 20, 30]}

In [85]:
value.append(40)
mydict3

{'a': [10, 20, 30, 40],
 'b': [10, 20, 30, 40],
 'd': [10, 20, 30, 40],
 'c': [10, 20, 30, 40]}

# Accessing Items

In [86]:
mydict = {1:'one',2:'Two', 3:'three', 4: 'four'}
mydict

{1: 'one', 2: 'Two', 3: 'three', 4: 'four'}

In [87]:
mydict[1]

'one'

In [88]:
mydict.get(1)

'one'

In [90]:
mydict1 = {'Name':'Asif', 'ID':74123, 'DOB':1991, 'job':'Analyst'}
mydict1

{'Name': 'Asif', 'ID': 74123, 'DOB': 1991, 'job': 'Analyst'}

In [91]:
mydict1['Name']

'Asif'

In [92]:
mydict1.get('job')

'Analyst'

# Add, Remove & Change Items

In [93]:
mydict1 = {'Name':'Asif', 'ID':12345, 'DOB': 1991, 'Address' :'Hilanski'}
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilanski'}

In [96]:
mydict1['DOB'] = 1992
mydict1['Address'] = 'Delhi'
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1992, 'Address': 'Delhi'}

In [98]:
dict1 = {'DOB':1995}
mydict1.update(dict1)
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995, 'Address': 'Delhi'}

In [99]:
mydict1['job'] = 'Analyst'
mydict1

{'Name': 'Asif',
 'ID': 12345,
 'DOB': 1995,
 'Address': 'Delhi',
 'job': 'Analyst'}

In [100]:
mydict1.pop('job')
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995, 'Address': 'Delhi'}

In [101]:
mydict1.popitem()

('Address', 'Delhi')

In [102]:
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995}

In [104]:
del[mydict1['ID']]
mydict1

{'Name': 'Asif', 'DOB': 1995}

In [105]:
mydict1.clear()
mydict1

{}

In [106]:
del mydict1
mydict1

NameError: name 'mydict1' is not defined

# Copy Dictionary

In [107]:
mydict = {'Name':'Asif', 'ID':12345, 'DOB': 1991, 'Address' :'Hilanski'}
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilanski'}

In [108]:
mydict1 = mydict

In [109]:
id(mydict), id(mydict1)

(5207476800, 5207476800)

In [110]:
mydict2 = mydict.copy()

In [111]:
id(mydict2)

5207839552

In [117]:
mydict['Address'] = 'Mumbai'
mydict

{'Name': 'Asif',
 'ID': 12345,
 'DOB': 1991,
 'Address': 'Mumbai',
 'Addres': 'Mumbai'}

In [118]:
mydict1

{'Name': 'Asif',
 'ID': 12345,
 'DOB': 1991,
 'Address': 'Mumbai',
 'Addres': 'Mumbai'}

In [119]:
mydict2

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilanski'}

# Loop through a Dictionary

In [120]:
mydict1 = {'Name':'Asif', 'ID':12345, 'DOB': 1991, 'Address' :'Hilanski', 'job': 'Analyst'}
mydict1

{'Name': 'Asif',
 'ID': 12345,
 'DOB': 1991,
 'Address': 'Hilanski',
 'job': 'Analyst'}

In [128]:
for i in mydict1:
    print(i , ':' , mydict1[i])

Name : Asif
ID : 12345
DOB : 1991
Address : Hilanski
job : Analyst

In [129]:
for i in mydict1:
    print(mydict1[i])

Asif
12345
1991
Hilanski
Analyst

# Dictionary Membership

In [130]:
mydict1 = {'Name':'Asif', 'ID':12345, 'DOB': 1991, 'job': 'Analyst'}
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'job': 'Analyst'}

In [131]:
'Name' in mydict1

True

In [132]:
'Asif' in mydict1

False

In [133]:
'ID' in mydict1

True

In [134]:
'Address' in mydict1

False

#  All/ Any

In [135]:
mydict1 = {'Name':'Asif', 'ID':12345, 'DOB': 1991, 'job': 'Analyst'}
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'job': 'Analyst'}

In [136]:
all(mydict1)

True