In [2]:
if True: 
    print("Data Science")

Data Science

In [3]:
if True: 
    print("Data Science")
    print("Need to spend everydat 3-4 hours")

Data Science
Need to spend everydat 3-4 hours

In [5]:
if False:
    print("Data Science")
print("Good Bye")

Good Bye

In [6]:
if True:
    print("Dta Science")
else:
    print("Bye for Now")

Dta Science

In [8]:
if False:
    print("Dta Science")
else:
    print("Bye for Now")

Bye for Now

In [11]:
x = 4
r = x % 2
if r == 0:
    print("Even Number")

Even Number

In [13]:
x = 5
r = x % 2
if r == 0:
    print("Even Number")

In [14]:
x = 5
r = x % 2
if r == 0:
    print("Even Number")
else:
    print("Odd Number")

Odd Number

In [15]:
x = 4
r = x % 2

if r == 0:
    print("Even Number")
if r == 1:
    print("Odd Number")
if r == 2:
    print("Even Number")

Even Number

In [16]:
x = 1
if r == 0:
    print("One")
if r == 1:
    print("Two")
if r == 2:
    print("Three")
if r == 3:
    print("Four")

One

In [17]:
x = 5
r = x % 2
if r == 0:
    print("Even Number")
else:
    print("Odd Number")

Odd Number

In [19]:
x = 4
r = x % 2

if r == 0:
    print("Even number")
    if x>5:
        print("greater number")
  
else:
    print("Odd Number")

Even number

In [20]:
x = 4
r = x % 2
if r == 0:
    print("Even Number")
    if x > 5:
        print("Greater Number")

    else:
        print("Number is lesser number ")
else :
    print("Odd Number")

Even Number
Number is lesser number

In [21]:
# elif it wont check till the block once you find the output it wont go to next line
# you can try with multiple parameter 1, 2 & 3 value in x 


x = 4

if(x == 1):
    print('one')
elif(x == 2):
    print('Two')
elif(x == 3):
    print('Three')
elif(x == 4):
    print('four')

four

In [22]:
# elif it wont check till the block once you find the output it wont go to next line
# you can try with multiple parameter 1, 2 & 3 value in x 

x = 7

if(x == 1):
    print('one')
elif(x == 2):
    print('Two')
elif(x == 3):
    print('Three')
elif(x == 4):
    print('four')

In [23]:
# elif it wont check till the block once you find the output it wont go to next line
# you can try with multiple parameter 1, 2 & 3 value in x 


x = 7

if(x == 1):
    print('one')
    
elif(x == 2):
    print('Two')
elif(x == 3):
    print('Three')
elif(x == 4):
    print('four')

else:
    print('number not found')

number not found